__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.python-version
.env
.venv
ENV/
venv/
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
docs/_build/
docs/electricityinfo_nz*.rst
docs/modules.rst

# Test secrets
tests/secrets.yaml
